@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

#root {
  height: 100vh;
  background-color: #678983;
  font-family: 'Varela', sans-serif;
  display: grid;
  grid-template-areas:
    "header         pokemon-list"
    "pokemon-party  pokemon-list"
    "type-chart     pokemon-list"
    "footer         pokemon-list";
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 1.2fr 4fr 8fr;
  gap: 5px;
}

* {
  color: #E6DDC4;
}

h1 {
  color: #F0E9D2;
}

h2 {
  color: #F0E9D2;
}

.container {
  background-color: #181D31;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
}

h2 {
  font-size: 22px;
}

footer {
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 9px;
  grid-area: footer;
  display: flex;
  justify-content: center;
}

@media (max-width: 820px) {
  #root {
    grid-template-areas:
      "header"
      "pokemon-party"
      "type-chart"
      "pokemon-list"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1.8fr 3fr 2fr;
    gap: 5px;
  }
}

@media (max-width: 601px) {
  footer {
    margin: 0;
  }
}