@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

#root {
  height: 100vh;
  background-color: #678983;
  font-family: 'Varela', sans-serif;
  display: grid;
  grid-template-areas:
    "header         pokemon-list"
    "pokemon-party  pokemon-list"
    "type-chart     pokemon-list"
    "footer         pokemon-list";
  grid-template-columns: 6fr 1fr;
  grid-template-rows: auto 325px 1fr auto;
  gap: 5px;
}

.container {
  background-color: #181D31;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
}

* {
  color: #E6DDC4;
}

h1 {
  color: #F0E9D2;
}

h2 {
  font-size: 22px;
  color: #F0E9D2;
}

button {
  background-color: #374947;
  border: 1px solid #678983;
  border-radius: 0.2rem;
}

button:active {
  background-color: #181D31;
}

input {
  color: #E6DDC4;
  background-color: #374947;
  border: 1px solid #678983;
}

footer {
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 9px;
  grid-area: footer;
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1024px) {
  #root {
    min-height: 300vh;
    grid-template-areas:
      "header"
      "pokemon-party"
      "type-chart"
      "pokemon-list"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 250px 500px minmax(150px, 1fr) auto;
    gap: 5px;
  }
}

@media (max-width: 601px) {
  #root {
    grid-template-rows: auto 150px 400px minmax(130px, 1fr) auto;
  }

  footer {
    margin: 0;
  }
}
