.form-container {
  max-height: 250px;
  max-width: 250px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.team-selection {
  position: absolute;
  align-self: flex-end;
}

header {
  grid-area: header;
  margin: 5px 5px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

button {
  margin: 1px;
}
