.form-container {
  padding: 0.2rem;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.form-container > * {
  margin: 0.2rem;
}

.account-container {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}

.team-selection {
  display: flex;
  gap: 0.5rem;
}

header {
  grid-area: header;
  padding: 0.2rem;
  margin: 5px 0 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

header label {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

@media (max-width: 1024px) {
  header {
    margin-right: 5px;
  }
}

@media (max-width: 601px) {
  .account-container {
    flex-direction: column-reverse;
    gap: 0.5rem;
  }

  .logout-container {
    display: flex;
    justify-content: space-between;
  }

  .logout-container * {
    font-size: 10px;
  }

  .team-selection * {
    font-size: 10px;
  }

  header {
    margin: 0;
    gap: 0.5rem;
  }

  h1 {
    font-size: 14px;
  }

  header button {
    font-size: 10px;
  }

  form {
    font-size: 12px;
  }
}
