.pokemon-list {
  margin: 5px 0;
  margin-right: 5px;
  min-width: 200px;
  grid-area: pokemon-list;
  font-size: 13px;
  display: flex;
  max-height: 100vh;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}

.entry-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.entry {
  width: clamp(119px, 134px, 174px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.entry:hover {
  background-color: black;
  border-radius: 5px;
}

label {
  margin: 0.5rem;
}

img {
  pointer-events: none;
}

span {
  pointer-events: none;
}

@media (max-width: 820px) {
  .pokemon-list {
    margin: 0;
    margin-left: 5px;
  }
}

@media (max-width: 601px) {
  .pokemon-list {
    margin: 0;
  }

  .pokemon-list h2 {
    font-size: 12px;
  }

  .pokemon-list label {
    font-size: 10px;
  }
}