.pokemon-list {
  margin: 5px 0;
  margin-right: 5px;
  grid-area: pokemon-list;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  gap: 0.3rem;
}

.entry-container {
  margin-bottom: 0.7rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
}

.entry {
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.entry:hover {
  background-color: #181D31;
  border-radius: 5px;
}

.pokemon-list label {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-list label input {
  max-width: 90%;
}

.entry img {
  height: 64px;
  width: 64px;
}

@media (max-width: 1024px) {
  .pokemon-list {
    margin: 0 5px;
  }

  .entry-container {
    max-width: 650px;
  }
}

@media (max-width: 601px) {
  .pokemon-list {
    margin: 0;
  }

  .pokemon-list h2 {
    font-size: 12px;
  }

  .pokemon-list label {
    font-size: 10px;
  }

  .entry-container {
    max-width: 260px;
  }
}
