.pokemon-container {
  display: flex;
  flex: 1;
}

.pokemon-team {
  display: flex;
  background-color: darkcyan;
  align-items: center;
}

.pokemon-list {
  display: flex;
  background-color: darkgoldenrod;
  align-items: center;
}