.pokemon-container {
  display: flex;
  flex: 1;
}

.pokemon-team {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: darkgoldenrod;
}

div[class^=party] {
  display: flex;
  flex: 1;
}

.pokemon-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 3;
  background-color: darkmagenta;
}

label {
  margin-bottom: 10px;
}

.entry-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 500px;
  max-width: 1174.5px;
  overflow-y: scroll;
}

.entry {
  margin: 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 110px;
  min-width: 110px;
  background: black;
}

img {
  pointer-events: none;
}

span {
  pointer-events: none;
}
