.pokemon-party {
  margin-left: 5px;
  grid-area: pokemon-party;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.heading-span {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
}

.heading-span span {
  font-size: 13px;
}

.btn-delete-all {
  position: absolute;
  font-size: 13px;
}

div[class^=party] {
  border-left: 1px solid white;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 181px;
  flex-basis: 100%;
  flex: 1;
}

div[class^=party] img {
  height: 128px;
  width: 128px;
}

div[class^=party-1] {
  border-left: none;
}

div[class^=party-6] {
  border-right: none;
}
