.pokemon-party {
  margin-left: 5px;
  grid-area: pokemon-party;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

div[class^=party] {
  border-left: 1px solid white;
  border-right: 1px solid white;
  min-height: 170px;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

div[class^=party-1] {
  border-left: none;
}

div[class^=party-6] {
  border-right: none;
}
