.type-chart {
  margin-left: 5px;
  grid-area: type-chart;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

div[class^=type-slot] {
  font-size: 14px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  min-height: 432px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  flex: 1;
}

div[class^=type-slot-1] {
  border-left: none;
}

div[class^=type-slot-6] {
  border-right: none;
}

.type-chart h2 {
  position: absolute;
  align-self: flex-start;
}

.type-chart h3 {
  border-bottom: 1px solid white;
  margin-top: 5px;
}
