.type-chart {
  margin-left: 5px;
  grid-area: type-chart;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

div[class^=type-slot] {
  padding: 0 0.2rem;
  min-height: 100%;
  font-size: 14px;
  border-left: 1px solid #F0E9D2;
  border-right: 1px solid #F0E9D2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
}

div[class^=type-slot] h3 {
  min-width: 100%;
  margin-top: 5px;
  border-top: 1px solid #F0E9D2;
}

div[class^=type-slot-1] {
  border-left: none;
}

div[class^=type-slot-6] {
  border-right: none;
}

h3:first-child {
  border-top: none !important;
}

@media (max-width: 1024px) {
  .type-chart {
    margin-right: 5px;
    overflow-y: visible;
  }
}

@media (max-width: 601px) {
  .type-chart {
    margin: 0;
  }

  div[class^=type-slot] {
    font-size: 10px;
  }

  div[class^=type-slot] *:nth-child(2) {
    font-size: 5.5px
  }
}
